*{
	box-sizing:border-box;
}

@font-face {
   font-family: 'Rockwell';
   src: url(../fonts/rockwell.ttf);
  }

@font-face {
   font-family: 'icomoon';
   src: url('../fonts/icomoon.ttf');
   src: url('../fonts/icomoon.eot');
   src: url('../fonts/icomoon.woff');
   font-weight: normal;
   font-style: normal;
}

body{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color:#adadad;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Raleway', sans-serif;
}


.header{
	z-index: 999;
	width:100%;
	background: #fff; 
	position: fixed;
	top:0;
	left:0;
}

.header .container{
	width:1170px;
	margin: 0 auto;
	height: 147px;
	/*background: yellow;*/
}	

.row:after,
.clearfix:after,
.chatnumber:after,
.container:after{
	display: block;
	content: "";
	clear: both;
}

.btn{	
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	padding: 15px 30px;
}

.btn.btn-default{
	background:#ffe13e;
	color:#202242;
	transition: all .1s ease;
}

.btn.btn-default:hover{
	background: none;
	outline: 1px;
	outline-style: solid;
	outline-color: #202242;
	color:#202242;
	text-decoration: none;
}

/*start header*/
.label{
	float: left;
	margin: 50px 0 50px 0;
	
}

.header .logo{
	background: url(../images/logo.png) no-repeat center;
	float: left;
	width: 30px;
	height: 40px;
	position: center;
	
}

.header .logotext{
	font-family: 'Rockwell';
	font-size: 30px;
	color: #202242;
	padding: 5px 0 0 5px;
	float: left;
}

.header .nav{
	float: left;
	list-style: none;
	margin: 63px 0px 62px 104px;
	padding: 0;
}

.header .nav li{
	float: left;
	margin: 0 0 0 36px;
}

.header .nav li a{
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #202242
}

.header .nav li:last-child{
	margin: 0 0 0 23px;
}

.header .nav li a:hover{
	color: #ffe13e;

}

.adress{
	float: right;
	padding: 35px 0 35px 48px;
	margin: 0;
	border-left: 1px solid #ebebeb;
}

.adress p {
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	margin: 0;
	color: #202242;
}

.chatnumber{
	margin: 21px 0 0 0;
	float: right;
}

.header .btn{
	display: inline-block;
	margin: 0 20px 0 0;
	float:left;

}

.tel{
	font-family: 'Lato', sans-serif;
	float: right;
	line-height: 24px;
	font-size: 24px;
	padding: 10px 0 10px 20px;
	margin: 0;
	border-left: 1px solid #babbc4;
	color: #202242;

}
/*end header*/






/*CHECK DOMAIN*/
.screen{
	position: relative;
}

.screen._splash{
	background: url(../images/block1-bckgrnd.png) no-repeat center fixed;
	background-size: cover;
	padding: 147px 0 0 0;
}

.screen._splash .darken {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
}


.screen._splash .container {
    position: relative;
    text-align: center;
    margin: 0 auto;
    z-index: 10;
    height: calc(100vh - 147px);
    padding: 147px 0 0 0;
    min-height: 600px;
    max-height: 940px;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

.info-container{
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
	width: 100%;
}

h1{
	font-family: 'Rockwell';
	font-size: 48px;
	color: #fff;
	margin: 0;
}

.screen._splash .container p{
	font-family: 'Raleway';
	font-size: 30px;
	padding: 43px 0;
	font-weight: normal;
	color: #fff;
	margin: 0;
}

.screen._splash .container .shape{
	display: block;
    background: url("../images/block1_shape.png") no-repeat;
    color: #fff;
    width: 110px;
    height: 110px;
    margin: 0 auto;
}

.check-domain{
	display: inline-block;
	text-align: center;
	margin: 80px 0 0 0;
	border: 15px solid rgba(255,255,255,.5);
}
.container .check-domain form{
	display: block;
}

.container .check-domain input{
	border: none;
	height: 55px;
}

.container .check-domain form #domain-name{
	float: left;
	margin: 0;
	font-family: 'Raleway';
	font-size: 18px;
	font-weight: normal;
	padding: 15px 60px 15px 15px;
}


.container .check-domain form #check_availability{
	float: right;
	margin: 0;
	font-family: 'Raleway';
	font-size: 14px;
	color: #202242;
	font-weight: bold;
	background-color: #ffe13e;
	border: 1px solid #ffe13e;
	border-left: 1px solid #fff;
	padding: 0 18px;
	border-radius: 0px;
}


.container .check-domain form #check_availability:hover{
	float: right;
	margin: 0;
	font-family: 'Raleway';
	line-height: 14px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	background-color: #ffe13e;
	border-radius: 0;
	border: 1px solid #fff;
	
}

.select-domain-name{
    float: left;
    position: relative;
    background: #ffe13e;
}


.select-styled{
	position: relative;
    height: 55px;
    padding: 0 43px 0 22px;
    text-align: right;
    font-size: 17px;
    line-height: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #2d2d2d;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    z-index: 2;
}


.select-domain-name::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 19px;
    height: 10px;
    width: 10px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
    z-index: 1;
}


/*CHECK DOMAIN end*/









/*SERVICES*/


.screen._services{
	width: 100%;
	position: relative;
}

.screen._services .container{
	position: relative;
    height: 100%;
    z-index: 2;
    height: 650px;
}

.row {
    z-index: 2;
}

.col-6{
	width: 50%;
	float: left;
}

.screen._services .content {
	margin: 90px 80px 40px 70px;
}

.center{
    text-align: center;
}

.screen._services .webhost_icon{
	display: inline-block;
    background: url('../images/webhost_icon.png') no-repeat center;
    width: 169px;
    height: 169px;
}




.screen._services h2{
	font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 40px 0 10px 0;
	color: #fff;
    font-size: 36px;
}



.text-com{
	display: inline-block;
	margin: 0 0 36px 0;
    font-size: 135px;
    line-height: 135px;
    font-weight: bold;
    color: #202242;
}



.text_light{
    line-height: 20px;
    font-family: 'Raleway', serif;
    font-size: 14px;
    color: #fff;
}




.btn_serv{
	margin: 30px 0;
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 19px 53px;
    cursor: pointer;
    display: inline-block;
}

.btn_serv span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn_serv span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.1s;
}

.btn_serv:hover span {
  padding-right: 20px;
}

.btn_serv:hover span:after {
  opacity: 1;
  right: 0;
}

.screen._services .bg_color {
	position: absolute;
    z-index: 1;
    height: 100%;
    top: 0;
    width: 50%;
}

.bg_color.left{
	background: #202242;
    left: 0;
}

.bg_color.right{
	background: #ffe13e;
    right: 0;
}


/*SERVICES end*/







/*FEATURES*/


.screen._features{
	position: relative;
	z-index: 1;
	background: #fbf8f1 url(../images/bg_shape.png) no-repeat center;
	
}

.screen._features .container{
	height: 665px;
}

.screen._features .row{
    margin: 0 -15px 0 -15px;
}


.col-md-12{
	margin: 0 0 90px 0; 
}

.heading_features {
	padding: 95px 0 0 0;
	color: #202242;
	font-size: 48px;
	line-height: 48px;
	font-weight: bold;
	margin: 0;
}

.description {
	padding: 15px 0 0 0;
	color: #202242;
	font-size: 24px;
	line-height: 24px;
	font-weight: normal;
}

.col-md-3{
	display: block;
	width: 25%;
	float: left;
	padding: 0 10px;
}

.screen._features .content{
	
}

.info-text-heading {
	font-family: 'Rockwell';
	color: #202242;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
}

.info-text-heading::before{
	margin: 30px auto;
	display: block;
	content: '';
	width: 60px;
	border-bottom: 3px solid #202242;
}

.info-text{
	font-family: 'Raleway';
	color: #202242;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	margin: 0 10px;
}

.screen._features .icon{
	display: inline-block;
	width: 128px;
	height: 128px;
}

.screen._features .icon.suprt{
	background: url(../images/icon_suprt.png);
}

.screen._features .icon.cloud{
	background: url(../images/icon_cloud.png);
}

.screen._features .icon.data{
	background: url(../images/icon_data.png);
}

.screen._features .icon.monitor{
	background: url(../images/icon_monitor.png);
}

/*FEATURES end*/



/*CLIENTS start*/

.screen._clients .container{
  padding: 60px 0 0 0;
}

.screen._clients a {
    cursor: pointer;
    transition: .3s ease;
}

.screen._clients  a:hover {
  opacity: 0.7;
  background: rgba(255,255,62,0.9);
  transition: .3s ease;
}

.screen._clients .row{
	margin: 0 0 30px 0;
}

.screen._clients h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: #202242;
    margin: 0 0 28px 0;
}

.screen._clients .content {
    background: #f5f3f3;
    position: relative;
    padding: 20px 15px;
    margin: 0 0 50px 0;
}

.screen._clients .row {
    margin: 0 0 80px 0;
}

.screen._clients .avatar {
    position: absolute;
    overflow: hidden;
    right: 20px;
    bottom: -60px;
    border: 6px solid #e7e8eb;
    border-radius: 100%;
}


/*CLIENTS end*/




/*PRICES start*/

.screen._pricing {
    background: #202242;
    color: #fff;
}

.screen._pricing .container {
    padding: 102px 66px 102px 122px;
}
.container {
    position: relative;
}

.screen._pricing .screen-heading {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 12px 0;
}

.screen._pricing .text_under {
    font-family: 'Raleway', sans-serif;
    color: #67687b;
    font-size: 18px;
    line-height: 18px;
}

.screen._pricing .btn {
    float: right;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #202242;
    border: 3px solid #fff;
    background: #ffe13e;
    padding: 30px 50px;
}

.screen._pricing .btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.screen._pricing .btn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.1s;
}

.screen._pricing .btn:hover span {
  padding-right: 20px;
}

.screen._pricing .btn:hover span:after {
  opacity: 1;
  right: 0;
}



/*Prices end*/


/*FOOTER*/

.footer {
    background: #363855;
    padding: 90px 40px;
    color: #fff;
}

.footer .map {
	height: 450px;
    width: 100%;
    background: url(../images/map.png) no-repeat;
    background-size: contain;
    position: relative;
}

.footer .map-point{
    position: absolute;
    top: 210px;
    left: 560px;

}


.footer .icon-pin{
	position: absolute;
	width: 33px;
    height: 47px;
	background: url(../images/map-pin.svg) no-repeat;

}

.footer .text-adress {
	font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    padding: 0 0 0 40px;

}

.footer .footer-nav{
	float: right;
	margin: 40px 0;
}

.footer .text-nav{
	color: #fff;
	font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    padding: 0 0 15px 0;
    text-align: right;
    
}

   
.footer .mini-nav li {
    padding: 10px 0 10px 0;
    list-style: none;
    border-bottom: 1px solid rgba(255,255,255,.16);
    text-align: right;
}

.footer .mini-nav li:last-child{
	border: none;
}

.footer .mini-nav li a{
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	color: #fff;

}

.footer .mini-nav li a:hover{
	color: #ffe13e;
	cursor: pointer;
}




.icon_font{
font-family: 'icomoon' !important;
font-weight: normal !important;
font-style: normal !important;
}


.soc-icons{
	list-style: none;

}

.soc-icons {
	margin: 30px 0 0 0;
	cursor: pointer;
}

.soc-icons li{
	display: inline-block;
	padding: 0 5px;
	text-align: right;
}

.footer .soc-icons li a{
	font-family: 'icomoon';
	font-size: 18px;
	line-height: 18px;
	text-decoration: none;
	color: #ffe13e;
}

.footer .soc-icons li a:hover{
	color:  #fff;
    transition: .3s ease;
}

.footer .soc-icons li:last-child{
	padding-right: 0;
}

.icon_twitter:before{
	content: '\e901'
}

.icon_instagram:before{
	content: '\e902'
}

.icon_google:before{
	content: '\e903'
}

.footer .back_to_top{
	margin: 40px 0 0 0;
	float: right;
	font: normal normal 12px 'Raleway', sans-serif;
	text-decoration: none;
	color:#fff;
}

.footer .back_to_top:hover{
	color:#ffe13e;
}